name: Check if a PR can be merged to master

on:
  pull_request:
    branches:
      - master

jobs:
  version-check:
    name: Check if version is valid
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - run: make version-check
